doctype html
html(lang='en', ng-app='biddle')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Biddle
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css?ver=#{version.css}')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800italic,800')
    link(rel='stylesheet', href='/stylesheets/style.css?ver=#{version.css}')
    link(rel='stylesheet', href='/stylesheets/biddle.css?ver=#{version.css}')
    link(rel='stylesheet', href='/stylesheets/nav.css?ver=#{version.css}')
    link(rel='stylesheet', href='/stylesheets/Token/token-input-facebook.css?ver=#{version.css}')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js?ver=#{version.js}')
    script(src='http://www.steamdev.com/zclip/js/jquery.zclip.js?ver=#{version.js}')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js?ver=#{version.js}')
    script(src='//code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js?ver=#{version.js}')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js?ver=#{version.js}')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js?ver=#{version.js}')
    //script(src='/socket.io/socket.io.js')
    script(src="/javascripts/js/jquery.nicescroll.min.js?ver=#{version.css}")
    script(src="/javascripts/js/core.js?ver=#{version.css}")
    script(src='/javascripts/lib/jquery.cookies.js?ver=#{version.css}')
    script(src='/bootstrap/js/bootstrap.js?ver=#{version.css}')
    script(src='/bootstrap/js/bootstrap.min.js?ver=#{version.css}')
    script(src='/javascripts/app.js?ver=#{version.css}')
    script(src='/javascripts/services.js?ver=#{version.css}')
    script(src='/javascripts/controller.js?ver=#{version.css}')
    script(src='/javascripts/js/validatebidform.js?ver=#{version.css}')
    //script(src='/javascripts/js/tooltip.js?ver=#{version.css}')
    script(src='/javascripts/autocomplete/skillsautocomplete.js?ver=#{version.css}')
    script(src="/javascripts/autocomplete/keywordsautocomplete.js?ver=#{version.css}")
    script(src="/javascripts/lib/Token/jquery.tokeninput.js?ver=#{version.css}")
    link(rel='shortcut icon', type="image/x-icon", href='/fevicon.ico')
  body(ng-controller="loginCtrl")
   .section-main
     .header-main
        .dibble-hdng
          h4
           a(href='/search')
             p  B
             p.bid iddle
        block navigation
        span(ng-show="user")
         .cssmenu
          ul
            li.active
              a(href='/search')
                span Home
            li
              a(href='/addproject')
                span Add Project
             li
              a(href='/projectlist')
                span Project List

            li
              a(href='/searchbid#/searchbid')
                span  Workroom

            li
              a.navbar-brand.lgt-nvg(href='/', ng-click="logout()") Logout
                  
    div.container
      div(ng-view)
       
