doctype html
html(lang='en', ng-app='biddle')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/biddle.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800italic,800')
    link(rel='stylesheet', href='/stylesheets/Token/token-input-facebook.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    script(src='//code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js')
    script(src="/javascripts/lib/jquery-1.11.0.js")
    script(src='/javascripts/lib/jquery.zclip.js')
    script(src='/javascripts/lib/jquery.cookies.js')
    script(src="/javascripts/js/newproject.js")
    script(src="/javascripts/js/jquery.nicescroll.min.js")
    script(src="/javascripts/js/core.js")
    script(src="/javascripts/js/validation.js") 
    script(src="/javascripts/js/search.js") 
    script(src='/javascripts/app.js')
    script(src='/javascripts/controller.js')
    script(src="/javascripts/autocomplete/developerautocomplete.js")
    script(src="/javascripts/autocomplete/keywordsautocomplete.js")
    script(src="/javascripts/autocomplete/searchaotocomplete.js")
    script(src="/javascripts/lib/Token/jquery.tokeninput.js")
    script(src='/bootstrap/js/bootstrap.js')
    link(rel='shortcut icon', type="image/x-icon", href='/fevicon.ico')
  body
    block navigation
      .cssmenu
        ul
          li.active
            a(href='/search')
              span Home
          li
            a(href='/addproject')
              span Add Project
          //li
           // a(href='/projectlist')
              //span Project List
          li
            a(href='/searchbid#/searchbid')
              span  Workroom
          li(ng-controller="loginCtrl")
            a.navbar-brand.lgt-nvg(href='/', ng-click="logout()") 
              span Logout

    block content
    