extends layout

block content
  form#formSearch(name="searchproject",method="post",action="/searchproject")
    body
    .main
      .section-main
        .header-main
          .dibble-hdng
            h4
              a(href='/search')
                p  B
                p.bid iddle
          .search-result
            .search-hvr-tct
              input#txtKeyWord(placeholder='Search your projects',type='text',name='txtKeyWord')
              input#hdKeyId(type="hidden", name="hdKeyId", value=selectedKeys)  
              input#preKey(type="hidden", name="preKey",value=selectedKeys)
            button.search-btn#btnSearch(type="submit") Search
          
      .middle-main
        .projects.fxd-hd-md
        
         .search-info-t
          label#lblMsg(style='display:;color:red;position:absolute;margin-top: 50px;' name='lblMsg')= msg 
         .flds-search
         
           each pro, i in projectlist
            .search-list-repeat
              .search-cntnt   
                |     
                a(href="#{pro.URL}" target="_blank")=  pro.TITLE
                label(for='Url')
                h4#ur= pro.URL
                if pro.GithubUrl != ""
                  p
                   label(for='Url') GithubURL:
                   a(href="#{pro.GithubUrl}" target="_blank")= pro.GithubUrl
                else


                label(for='Description') 
                p#pSub=pro.DESC 
                a#aNew(href='javascript:void(0)' style='display:none;color:#7EA0FA') View More 
                .line          
                p#pFull(style="display:none")=pro.DESC
                a#aHide(href='javascript:void(0)' style='display:none;color:#7EA0FA') Hide 
                .line
                ul.tag
                  li    
                    label(for='Keywords')           
                    -var keys=pro.KEYS.split(',') 
                    each key,ix in keys  
                      a(href='/projectlist?key='+keys[ix])=  keys[ix]                
                .posted-dt
                  .line
                  a.upc.tooltip(href="/edit?key="+pro._id, data-toggle="tooltip", data-original-title='Edit') 
                  | &nbsp;
                  input#check.copy-txt.tooltip(type='checkbox', name='check', data-toggle="tooltip", data-original-title='check to copy')
                  //a#btnDelete(href="/deleteproject?key="+pro._id, data-toggle="tooltip", data-original-title='Delete') 
                  a.tooltip#btnDelete(ng-controller='projectCtrl' ng-click='del()', ng-init="user= #{JSON.stringify(pro._id)}" href='javascript:void(0);',data-toggle="tooltip", data-original-title='Delete')

                  a.post-dt.tooltip(href="#",  data-toggle="tooltip", data-original-title=pro.DEVELOPER) 
                  a.post-on.tooltip(href="#", data-toggle="tooltip", data-original-title=pro.CREATEDDATE) 
                 
          //button#cop.submit(type="button") Copy to Clipboard
      .footer
        span#checkcount(style='display: none; color:white')
        button#cop.submit(type="button",style="display: none;") Copy to Clipboard
        span.copied(style='display: none; color:white') Data Copied Successfully
        //img(width='15', height='15', src='../images/copy-clip.png')

        p Developed by Master Software Solutions 
        script(src="/javascripts/autocomplete/keyprepopulate.js")
        

 



  


   