extends layout

block content
  form#formSearch(name="searchproject",method="post",action="/searchproject")
    body
    .main
        .header-main
        .middle-main
          .search.home-search-fld
            h4
              span.biddle-glob
                .mybiddle
                .mpbiddle
                  p b
                  | iddle
            .search-dtm
              .search-ipt
                
                input#txtKeyWord(type="text", placeholder="Enter keywords", name="txtKeyWords")
                input#hdKeyId(type="hidden", name="hdKeyId")  
                
              button.search-btn#btnSearch(type="submit") Search
              p.abslt
                | (find your project here, enter project keywords eg, ecommerce, paypal)
          label#lblMsg(style='display:;color:red;')= msg 

          .logo
            img(src='images/m.png')
            
        .footer
          p
            | Developed by Master Software Solutions   