 

<div class="rslt-hd-md">

<div style=" display: inline-block; min-height: 500px;  width: 61%;" class="fld-frm-cntnr">
<form class="simple-form" id="searchbid" name="searchbid" ng-submit="findbid()">
  <div>
  <span style="display: none; color:green" class="saved-msg">Data saved Successfully</span>
      </div><br>
	<div>
      <span style="display: none; color:red" class="empty-msg">Please fill any one of the fields.</span>
      </div>
      Job Url :<br> <input type="text"  ng-model="joburl" class="form-control input-small" placeholder="Enter a valid Job Url" />
      <button type="submit" class= "btn btn-primary search-icon"></button>
      <div> 
      <span style="display: none; color:red" class="invalid-msg">Enter a valid url</span>
      </div><br>

<span style="display: none;font-size:20px;color:red" class="already-msg">"oops! {{bidsinfo[0].BidderName}} is/has already {{bidsinfo[0].Status}} for this job".</span>
<span style="display: none;" class="new-msg ">"Good News! Nobody has seen this job Yet."
<a href="" ng-click="go()">Go For It</a>
</span>
</form>
<form id="check" class="form-styl-mt" style="display: none;">
 <fieldset>
  <legend style="padding-bottom:15px; margin-bottom:10px;">Apply for it:</legend>
  <div class="checkbox">
    <label for="is_invite">
      <input type="checkbox" id= "is_invite" ng-model="invite"> Is This an Invitation
    </label>
  </div>
  <button type="submit" ng-click="save()" class= "btn btn-primary apply-btn">Apply</button> <br><br>
 </fieldset>
</form>
<form id="checkuser" style="display: none;">
  <span class="user-msg">
  	
    <span class="msg-f-ur">"You have already applied for this job.What else would you like to do?"</span>
  		
      
        <div class="job-lead">
        	<a class="job-lead-3" id="view-btn" ng-click="viewbid()" href="javascript:void(0);" rel="tooltip" title="View Job"></a>
           <a class="job-lead-1 " id="change-btn" ng-click="change()"  href="javascript:void(0);" rel="tooltip" title={{s}}></a>
            <a class="job-lead-2" id="delete-btn" ng-click="delete()" href="javascript:void(0);" rel="tooltip" title="Delete Job"></a>
            
            <!--a class="job-lead-4" id="view-btn" ng-click="viewbid($event)" href="javascript:void(0);" rel="tooltip" title="Is Lead"></a-->
		
        
        </div>
</span>
 <div class="appliedjob">
 
  <div style="display:inline;">
  <!--<button type="submit" id="change-btn" class= "btn btn-primary" value=""ng-click="change()">Change status to {{st}} ?</button>
    <button type="submit" id="delete-btn" class= "btn btn-primary" ng-click="delete()" >Delete Job</button>
      <button type="submit" id="view-btn" class= "btn btn-primary" ng-click="viewbid()" >View Job</button>
        <button type="submit" class= "btn btn-primary">Islead</button><br><br>-->
      <span style="display: none; color:#4C4C4B" class="status-msg">Status changed from {{fromstatus}} to {{st}}</span>
      <span style="display: none; color:green" class="delete-msg">Data Deleted Successfully</span>
      </div>
 </div>
</form>
<div class="bdr-dtl-fld" id = "bidinfo" ng-if = "info.bids.length == 1 " style="display:none;">
  Bidder Name: {{name}}<br>
  JobUrl:  {{bidsinfo[0].JobUrl}}<br>
  JobPortal:{{bidsinfo[0].JobPortal}}<br>
  JobId:{{bidsinfo[0].JobId}}<br>
  IsInvite:{{info.bids[0].Isinvite}}<br>
  Status:{{info.bids[0].Status}}<br>
 </div>
<span class="bdr-dtl-fld" id = "info" ng-if = "info.bids.length == 1 " style="display:none;">

<div class="arrow-d">
</div>
  Bidder Name:{{name}}<br>
  JobUrl:  {{info.bids[0].JobUrl}}<br>
  JobPortal:{{info.bids[0].JobPortal}}<br>
  JobId:{{info.bids[0].JobId}}<br>
  IsInvite:{{info.bids[0].Isinvite}}<br>
  Status:{{info.bids[0].Status}}<br>
 </span> 
</div>
<div class="ryt-url inform-ytye">
 <span style="font-size:20px; color:green" class="msg">Latest Bids</span><br><br>
 
 <!-- Nav tabs -->
<ul class="nav nav-tabs">
 <li class="active"><a href="#recent" data-toggle="tab">Recent Bids</a></li>
  <li ><a href="#latest" data-toggle="tab">Recent Leads</a></li>
 
</ul>

<!-- Tab panes -->
<div class="tab-content">
 
 
   <div class="tab-pane " id="latest"><br />
<br />
Coming Soon</div>

  <div class="tab-pane active " id="recent">
       <span class = "bid-list" ng-show = "allbids.bids != ''" ng-repeat="bid in allbids.bids" >
   <!--<span style="font-size:16px; color:black">JobUrl:</span>-->
   <span class="job-inft">
    	<span title="{{bid.JobPortal}}" rel="tooltip" class = "{{bid.JobPortal}}" style="color:#000">{{bid.JobPortal}}</span>
   		<span title="{{bid.JobId}}" rel="tooltip" class = "url_{{$index}} url-job-mt" style="color:#000">{{bid.JobId}}</span>
      <span title="{{date}}" rel="tooltip" class = "url-pstd-dt" style="color:#000">{{date}}</span>
        <span title="{{bid.JobUrl}}" rel="tooltip" class = "mjob-lnk" style="color:#000"><a href="{{bid.JobUrl}}" target="_blank">{{bid.JobUrl}}</a></span>
   </span>
   <span class="job-stts">

   		<a class="dlt-jb" ng-click="delete($event)" id = "url_{{$index}}" href="javascript:void(0);" rel="tooltip" title="DeleteJob"></a>
   		<a class="inprgs {{bid.Status}}" ng-click="change($event)" data-toggle="tooltip" data-placement="top" rel="tooltip" title={{bid.Status}} id = "url_{{$index}}" href="javascript:void(0);"></a>
   		<a class="viewjob" ng-click="viewbid($event)" id = "url_{{$index}}" href="javascript:void(0);" rel="tooltip" title="View Job"></a><br>
   <script>
	$("* [rel='tooltip']").tooltip({
	   html: true, 
	   placement: 'top'
	});
	
</script> 
   </span>
<br>
   </span>
  </div>
  
  <div class="tab-pane" id="recent">...</div>
</div>

 


</div>
<br><br><br><br>
</div>
   