*
{
	margin:0;
	padding:0;
}
html
{
	height:100%;
}
body 
{
	font-family:open sans;
	height:100%;
	padding: 0px;
}

/*#latest {
    border-top: 1px solid #CCCCCC;
}*/

.nav-tabs{ border-bottom:none !important}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{outline:none}
.nav-tabs > li > a{outline:none}

.job-stts .tooltip-inner{ padding: 3px 8px 3px 0px;}


.profile {
   float: right;
    padding-top: 10px;
    width: 16%;
}

.profile img{ border: 1px solid #CCCCCC;
/*    border-radius: 100%;
*/     height: 37px;
    width: 40px;;}

.txtbox {
    border: 1px solid #CCCCCC;
    height: 25px;
    padding: 5px;
    width: 98%;
}

.txtbox2 {
    border: 1px solid #CCCCCC;
    height: 55px;
    padding: 5px;
    width: 98%;
}

.wrap_bx {
    /*background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #CCCCCC;
    margin: 51px auto 0;*/
    padding: 15px;
	margin-top:65px;
   /* width: 500px;*/
}

/*.wrap_bx  ul.token-input-list-facebook{width:480px}*/
.wrap_bx  ul.token-input-list-facebook ul{width:480px}
 div.token-input-dropdown-facebook{width:500px !important; left:-20px;}
.wrap_bx p {
    margin-bottom: 10px;
}

.submit {
    background: none repeat scroll 0 0 #34A9FF;
    border: 1px solid #34A9FF;
    color: #FFFFFF;
    font-size: 17px;
    padding: 7px;
    text-transform: capitalize;
}

.main
{
	width:100%;
	float:left;
	height:100%;
}
.header-main
{
	width:100%;
	float:left;
	padding:0px 0px;

}
.header-container
{
	width:990px;
	margin:0 auto;
}
.footer
{
	padding:5px 0px;
	width:100%;
	float:left;
	position:fixed;
	bottom:0px;
	background:#1C9DF9;
	border-top:1px solid #ededed;
}
.footer-container
{
	width:990px;
	margin:0 auto;
}
.middle-main
{
	float: left;
    min-height: 96%;
    width: 100%;
}
.middle-container
{
	margin:0 auto;
	width:990px;
}
.abslt
{
	color: #555;
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.search
{
	width:100%;
	text-align:center;
	position:relative;
}
.search h4 img
{
	width:auto;
	margin-left:-50px;
}
.search h4
{
	font-size: 80px;
	color:#00B79F;
    line-height:80px;
	text-transform:uppercase;
	letter-spacing:-2px;
	font-weight: normal;
	
	
}
.search h4 p
{
	display: inline-block;
	color:#1292FA;
    font-size: 80px;
    width: auto; 
}
.search-txt
{
	 border: 1px solid #DDDDDD;
    color: #777777;
    font-family: open sans;
    font-size: 18px;
    font-weight: lighter;
    padding: 9px 10px;
    text-indent: 10px;
    width: 620px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f7f7ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f7f7ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7ff',GradientType=0 ); /* IE6-9 */

}
.search-result .search-txt {
    font-size: 16px;
    padding: 8px 10px;
    width: 460px;
}
.search-btn
{
	padding:6px 25px;
	font-size:18px;color:#fff;
	font-size:22px;
	font-family:open sans;
	vertical-align:top;
	margin-left:-4px;
	background:none repeat scroll 0 0 #00B79F;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;

	text-decoration:none;
}
.search-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.search-btn:active {
	position:relative;
	top:1px;
}
.footer p
{
	font-size:12px;
	font-family:open sans;
	color:#fff;
	text-align:right;
	padding-right:20px;
}
.search-result
{
    display: inline-block;
    margin-left: 20px;
    padding-top: 8px;
    vertical-align: top;
    width: auto;
}
.search-result .search-txt
{
	font-size: 16px;
    padding: 8px 10px;
    width: 460px;
}
.search-ipt
{
	width:620px;
	display:inline-block;
}
.search-result .search-btn
{
	font-size: 17px;
    margin-left: -28px;
    padding: 9px 23px 10px;
    position: relative;
    z-index: 99999;
}
.flds-search
{
	padding:20px 5px;
	float:left;
	width: 66%;	
}
.search-cntnt
{
	 border-bottom: 1px solid #DDDDDD;
    float: left;
    position: relative;
    width: 100%;
}
.search-list-repeat
{
	padding: 12px;
    padding-bottom:0px;
    display: inline-block;
    width: 100%;
    float: left;
}
.search-list-repeat:hover
{
	background: #f7fff0;
	box-shadow: 0px 0px 1px 0px #ccc;
	-webkit-box-shadow: 0px 0px 1px 0px #ccc;
	-ms-box-shadow: 0px 0px 1px 0px #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-ms-border-radius: 5px;
}
.search-list-repeat.active-search-bg
{
	background: #f7fff0;
	box-shadow: 0px 0px 2px 0px #ccc;
	-webkit-box-shadow: 0px 0px 2px 0px #ccc;
	-ms-box-shadow: 0px 0px 2px 0px #ccc;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-ms-border-radius: 5px; 
}
.search-cntnt h4
{
	color: #2DABF9;
    font-size: 16px;
	max-width:88%;
    font-weight: normal;
	margin-bottom:5px;
}
.search-cntnt a
{
	font-size:14px;
	color:#000;
	display:inline-block;
	max-width:81%;
	text-decoration:none;
}
.search-cntnt p
{
	font-size:14px;
	width:100%;
	font-weight:lighter;
	margin:2px 0px;
	color:#555;
}
.search-cntnt p b
{
	color:#000;
}
.projects
{
	margin-left:145px;
}
.border
{
	border:1px solid #ccc;
}
.border th
{
	border-right:1px solid #ccc;
	font-size:14px;
	padding:10px;
	font-weight:lighter;
}
.search-info-t
{
	width:100%;
	float:left;
}
.sort
{
	width:auto;
	margin-top:34px;
	display:inline-block;
}
.sort li
{
	width:auto;
	display:inline-block;
	font-weight:lighter;
	line-height:14px;
	padding:0px 15px;
	border-right:1px solid #ccc;	
}
.sort li a
{
	color:#999;
	text-decoration:none;
}
.sort li a:hover
{
	color:#2DABF9;
}
.sort li:last-child
{
	border-right:none;
}
.posted-dt
{
	float: left;
    line-height: 16px;
    text-align: left;
    width: 100%;
}
.posted-dt i
{
	font-size:12px;
	color:#999;
	font-style:normal;
}
.posted-dt em
{
	font-size:12px;
	color:#999;
	margin-left:20px;
	font-style:normal;
}
.biddle-glob
{
	width:auto;
	display:inline-block;
}
.search-dtm
{
	 float: left;
    position: relative;
    top: -43px;
    width: 100%;
}
.biddle-glob {
    display: inline-block;
    position: relative;
    top: -49px;
    width: auto;
}
.auto-sgst
{
	padding:10px 0px;
	width:620px;
	display:none;
	position:absolute;
	box-shadow:0px 0px 5px 0px #ccc;
	background:#fff;
	z-index:99999; 
}
.auto-sgst ul
{
	list-style:none;
	display:inline-block;
	text-align:left;
	width:100%;
}
.auto-sgst ul li
{
	padding:5px 10px;
	font-size:14px;
	width:97%;
	cursor:pointer;
	display:inline-block;
}
.auto-sgst ul li:hover
{
	background:#f2f2f2;
}
.auto-sgst ul li p
{
	color:#555;
	width:auto;
	display:inline-block;
	margin-right:5px;
}
/*.search-ipt:hover .auto-sgst
{
	display:block;
}
*/
.logo {
    bottom: 42px;
    display: inline-block;
    margin-top: 234px;
    position: absolute;
    right: 0;
    text-align: right;
    width: auto;
}
.logo img {
    margin-right: 20px;
    width: 200px;
}
.section-main
{
	background:#f2f2f2;
	position:fixed;
	left:0px;
	z-index:111;
	display:inline-block;
	top:0px;
	width:100%;
}
.dibble-hdng
{
	width:auto;
	margin:0px;
	display:inline-block;
}
.dibble-hdng h4 {
    color: #A0E241;
    font-size: 40px;
    font-weight: normal;
    margin-left: 20px;
	margin-top:0px;margin-bottom:0px;
}
.dibble-hdng h4 p
{
	width:auto;
	/*color:#1292FA;*/
	display:inline-block;
	line-height:61px;
	margin:0px;
}
.bid {
    color: hsl(85, 74%, 57%);
    }
.tag
{
	list-style:none;
	width:100%;
	display:inline-block;
}
.tag li
{
	display:inline-block;
	width:auto;
}
.tag li a
{
	text-decoration:none;
	margin-top: 5px;
    margin-right: 5px;
	color:#fff;
	font-size:13px;
	background:#2DABF9;
	display:inline-block;
    padding: 2px 10px;
	border-radius:3px;
}
.tag li a:hover
{
	color:#333;
	background:#f2f2f2;
}
.copy
{
	padding:7px;
	background:url(../copy.png) no-repeat;
	width:auto;
	display:inline-block;
}
.search-hvr-tct
{
	
	display:inline-block;
	position:relative;
}
.search-hvr-tct:hover .auto-sgst
{
	width:100%;
	
}
.search-hvr-tct:hover .auto-sgst
{
	display:block;
}
@media (max-width:767px)
{
 div.token-input-dropdown-facebook{width:95% !important}

.txtbox {
    border: 1px solid #CCCCCC;
    height: 25px;
    padding: 5px;
    width: 98%;
}

.txtbox2 {
    border: 1px solid #CCCCCC;
    height: 55px;
    padding: 5px;
    width: 98%;
}

.wrap_bx {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #CCCCCC;
    margin: 51px auto 0;
    padding: 15px;
    width: 88%;
}

.wrap_bx  ul.token-input-list-facebook{width:95%}
.wrap_bx  ul.token-input-list-facebook ul{width:95%}
.wrap_bx div.token-input-dropdown-facebook{width:95%}
.wrap_bx p {
    margin-bottom: 10px;
}

.submit {
    background: none repeat scroll 0 0 #34A9FF;
    border: 1px solid #34A9FF;
    color: #FFFFFF;
    font-size: 17px;
    padding: 7px;
    text-transform: capitalize;
}



.dibble-hdng
{
	width:100%;
	text-align:center;
}	
.search-result
{
	width:100%;
	margin-left:0px;
	text-align:center;
	margin-top:80px;
}
.projects
{
	margin-top:0px;
	margin-left:10px;
}
.search-cntnt
{
	width:100%;
}
.search-dtm .search-txt
{
	width:100%;
	padding:8px 0px;
	margin-bottom:10px;
	text-indent:20px;
}
.search-dtm
{
	width:94%;
	float:none;
	margin:0 auto;
}
.search-dtm .search-ipt
{
	width:100%;
}
.search-dtm .search-btn
{
	width:100%;
	margin:0px;
	padding:6px 0px;
}
.auto-sgst
{
	width:100%;
}
.section-main
{
	background:none;
	position:inherit;
}
.header-main
{
	padding:0px;
}
.dibble-hdng
{
	padding:5px 0px;
	background:#f2f2f2;
	position:fixed;
	width:100%;
	left:0px;
	z-index:99999;
}
.flds-search
{
	margin:0px;
}

}
@media (max-width:660px)
{
.search-hvr-tct
{
	width:100%;
	
}
.search-result
{
	margin:0px;
	left:30px;
	right:30px;
	width:auto;
	margin-top:70px;
	position:absolute;
}
.search-result .search-txt
{
	padding:8px 0px;
	width:100%;
	text-indent:20px;
}
.search-result .search-btn
{
	width:100%;
	margin-top:10px;
	margin-left:0px;
}
.projects
{
	margin-top:164px;
}

}
#formSearch
{
	height: 100%;
}
.token-input-list-facebook {
font-size:30px;
}
.search-ipt .token-input-input-token-facebook input, .search-result .token-input-input-token-facebook input {
    margin-top: -2px;
}

.posted-dt a {
    position: absolute;
    right: 0;
	padding:10px;
	opacity:0.5;
	background:url(../images/delete.png) no-repeat;
    top: 5px;
}
.posted-dt a.upc {
    right: 28px;
	background:url(../images/edit.png) no-repeat;
}
.posted-dt a.post-dt {
    right: 86px;
	background:url(../images/profile.png) no-repeat;
}
.posted-dt a.post-on
{
    right: 56px;
	background:url(../images/watch.png) no-repeat;
}
.posted-dt a:hover
{
	opacity:1;
} 
.mybiddle
{
	display: inline-block;
    line-height: 9px;
    margin-left: 50px;
    width: auto;
}

.mybiddle img
{
	border: 8px solid #4DC0EE;
    padding: 10px;
}
.mpbiddle {
    display: inline-block;
    margin-bottom: 10px;
    width:100%;
}
.search-ipt ul.token-input-list-facebook
{
	border:1px solid #999999;

}
.search-icon, .search-icon:focus, .search-icon:active
{
	
 	background: url("../images/search.png") no-repeat scroll center center #00B79F;
    margin-left: -7px;
    padding: 20px 30px;
	border:none;	outline:none;
	border-radius:0 4px 4px 0;
	margin-top:8px;
}
.input-small
{
	width:88%;
	height:40px;
	margin-top:8px;
	display:inline-block;
}
.input-small:focus
{
	box-shadow:none;
	border:1px solid #999;
}
.search-icon:hover
{
	background: url("../images/search.png") no-repeat scroll center center #00B7FF;

	border:none;
}
.job-inft
{
	float:left;
	width:75%;
}
.job-stts
{
	width:auto;
	float:right;
}
.bid-list 
{
	width:100%;
	display:inline-block;
	padding:5px 0px;
	float: left;
	text-indent:10px;
}
.bid-list
{
	font-size:13px;
	padding:10px;
	position:relative;
	border:1px solid #ddd;
	border-top:none;
}
.bid-list .bdr-dtl-fld
{
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px #CCCCCC;
    color: #000000;
    display: inline-block;
    left: 0;
    padding: 10px;
	top:50px;
	text-indent:0px;
    position: absolute;
    right: 0;
    z-index: 999;
}
/*.bid-list:last-child
{
	border-bottom:1px solid #ddd;
}*/
.bid-list:nth-child(even) 
{
	/*background:#f6fff6;*/
	background:#f7f7f7;
	
}
.job-stts a
{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:top;
	float:right;
	margin:0px 3px;
	background-position:center !important;
	background-size:12px !important;
}
.job-stts a:hover
{
	opacity:1;
}
/*.job-stts a
{
	background:url(../images/tick.png) no-repeat #72db00 ;
}*/
.job-stts a.inprgs
{
	background:url(../images/progress.gif) no-repeat  ;	
	background-size:16px auto !important;
}
.job-stts a.inprgs.Applied
{
	background:url(../images/tick.png) no-repeat  ;	
	background-size:12px auto !important;
	background-color: #72DB00;
}
.job-stts .dlt-jb
{
	background:url(../images/job.png) no-repeat #fa3a3a;
}

.job-stts .lead-jb
{
	background:url(../images/lead.png) no-repeat #fa3a3a;
}

.job-stts .viewjob
{
	background:url(../images/view.png) no-repeat #ffc600;
	background-size:10px !important;
}
.job-stts a.applied
{
	background:url(../images/tick.png) no-repeat  ;	
	background-size:12px auto !important;
	background-color: #72DB00;
}
.job-stts a + a + a + a
{
	background:url(../images/lead.png) no-repeat #9fe454;
}


.inform-ytye
{
	float: right;
    width: 38%;
}
.odesk
{
	background: url("../images/odesk.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 7px;
    margin-top: 0;
    overflow: hidden;
	opacity:0.8;
	float:left;
    vertical-align: top;
    width: 15px;
	padding:10px;
}
.elance
{
	background: url("../images/elance.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 7px;
    margin-top: 0;
    overflow: hidden;
	opacity:0.8;
	float:left;
    vertical-align: top;
    width: 15px;
	padding:10px;
}
.url-job-mt
{
	display: inline-block;
    margin-right: 5px;
    overflow: hidden;
	text-indent:0px;
    text-overflow: ellipsis;
    width: 25%;
}
.bdr-dtl-fld
{
    color: #000000;
    display: inline-block;

    margin-top: 10px;

}
#checkuser .job-stts a
{
	margin-top:5px;
}
.status-msg
{	
 	background:url("../images/check.png") 10px center no-repeat #f0fff0;
    border: 1px solid #a5c8a5;
    color: #008000 !important;
    float: left;
    margin-top: 20px;
    padding: 8px 10px;
	padding-left:40px;
    width: 96%;
}
.mjob-lnk
{
	display: inline-block;
    overflow: hidden;
    text-indent: 0;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 44%;
}
.mjob-lnk a
{
	max-width:100%;
	text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;
	
}
.job-lead
{
	width:100%;
	float:left;
	margin-top:10px;
}
.job-lead a
{
	 background-position: center center !important;
    background-size: 20px auto !important;
    display: inline-block;
    float: left;
    height: 40px;
    margin: 0 3px;
    vertical-align: top;
    width: 40px;
}
.job-lead a:hover
{
	opacity:0.8;
}
.job-lead .job-lead-1
{
	background:url(../images/changel.png) no-repeat #72db00;
	background-color:transparent;
    background-image: url("../images/progress.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 34px auto !important;
}
.job-lead-2
{
	background:url(../images/deletel.png) no-repeat #fa3a3a;
}
.job-lead-3
{
	background:url(../images/viewl.png) no-repeat #FFC600 !important;
}
.job-lead-4
{
	background:url(../images/leadl.png) no-repeat #9fe454;
}
.new-msg
{
	background:url("../images/info.png") 10px center no-repeat #FEFFEC;
    border: 1px solid #E5E7B4;
    color: #745815 !important;
    float: left;
    margin-top: 10px;
    padding: 8px 10px;
	font-size:14px;
	padding-left:35px;
    width: 96%;
}
.msg-f-ur
{
	background:url("../images/info.png") 10px center no-repeat #FEFFEC;
    border: 1px solid #E5E7B4;
    color: #745815 !important;
    float: left;
    margin-top: 10px;
    padding: 8px 10px;
	font-size:14px;
	padding-left:35px;
    width: 96%;
}
.form-styl-mt
{
	width:100%;
	float:left;
	margin-top:15px;
}
.apply-btn
{
	background:#00B7FF;
	padding:10px 20px;
	border:none;
	border-radius:0px;
}
.cssmenu ul li a.lgt-nvg
{
	 background: url("../images/logout.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding: 0 !important;
    padding-right: 25px !important;
}
.fxd-hd-md
{
	margin-top:60px;
}
.rslt-hd-md
{
	margin-top:90px;
}
.addPro h1
{
	font-weight:lighter;
	font-size:24px;
	margin-bottom:15px;	

}
.loginboxDesgn
{
   box-shadow: 0 0 10px 0 hsl(0, 0%, 80%);
    margin: 150px auto 18px;
    max-width: 370px;
    min-height: 350px;
    padding: 20px 20px 30px;
}
.loginboxDesgn .form-control
{
	margin-top:5px;
}
.login-hdng-mt
{	
	border-bottom: 1px solid #DDDDDD;
    display: inline-block;
    line-height: 1px;
    margin: 0 16px;
    text-align: center;
    width: 90%;
}
.login-hdng-mt span
{
	background: none repeat scroll 0 0 #FFFFFF;
    color: #008000;
    font-size: 20px;
    padding: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.search
{
	padding-top:280px;
}
.footer
{
	padding:7px 0px;
}
.search-btn
{
	padding: 8px 25px;
	padding-top:7px;	
}
}
.arrow-d
{
	background: url("../images/arrow-top.png") no-repeat scroll 0 0 / 23px auto;
    display: inline-block;
    padding: 16px 18px;
    position: absolute;
    right: 63px;
    top: -23px;
    width: auto;
	}
.nicescroll-rails div
{
	background:#999 !important;
}
.nav-tabs > li.active
{
	position:relative;
	top:1px;
	background:#fff;
	z-index:1;
}
.job-lead-1.applied {
    background:url(../images/changel.png) no-repeat #72db00;
    background-size: 20px auto !important;
}
.url-pstd-dt
{
	width: 16%;
	display: inline-block;
	vertical-align: top;
	text-indent: 0px;
}
.tab-content
{
	overflow-y:auto;
	border-bottom: 1px solid #ddd;
}
input.copy-txt
{
	 background: none;
    opacity: 0.5;
    padding: 10px;
    position: absolute;
    right: 118px;
    top: 8px;
}
#cop
{
	border-radius: 5px;
	position:fixed !important;
	left: 40%;	
	bottom: 5px;
	position: fixed;
}
.zclip
{
	position:fixed !important;
}
.model-content
{
	background: #fff;
	box-shadow: 0 0 10px 0 #CCCCCC;
    margin: 150px auto 18px;
    max-width: 370px;
    min-height: 350px;
    padding: 20px 20px 30px;
}
.required{ border: 3px solid red !important; }


.popup_modal .model-content {
    max-width: 783px;
    width: 822px;
}

.popup_modal .modal-dialog {
    width: 890px;
}
.popup_modal .modal-header{border-bottom: none; padding: 0;}
.popup_modal .modal-header h3{margin-top: 0px;}
.popup_modal .modal-footer{padding-bottom: 0px;}
.popup_modal .model-content{ margin: 70px auto 18px;}

.popup_modal fieldset {
    border: 1px solid #C0C0C0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.popup_modal legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border:none;
    color: #333333;
    display: block;
    font-size: 21px;
    margin-bottom: 1px;
    padding: 0 10px;
    text-align: left; width: auto;}

 .copied {
 	position:relative;
 	left:600px;
 	top:15px;
}
.rcnt-bdl.nav-tabs
{
	border-bottom: 1px solid #ddd !important;

}
body .nav-tabs > li > a
{
	margin-right: 0px;
}
#latest > span
{
	width: 100%;
	float: left;
	display: inline-block;
}
#recent > span:last-child .bid-list
{
	border-bottom: none;
}
.tooltip
{
	position: fixed;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
    ::i-block-chrome,.btn.btn-primary.search-icon {
     	padding: 10px 30px;
    }
}
.tab-content.scroller-tab
{
	position: absolute;
	top: 178px;
	width: 432px;
	bottom: 10px;
}
.key-tag
{
	width: 100%;
	display: inline-block;
}
#formAddProject ul.token-input-list-facebook
{
	height: auto;
	min-height: 25px;
	display: inline-block;
	padding: 2px 5px;
	width: 98%;
}
#formAddProject ul.token-input-list-facebook li
{
	margin-top: 5px;
}

.home-search-fld
{
	position: absolute;
	top: 50%;
	margin-top: -70px;

}
.tooltip {
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity:1;
  filter: alpha(opacity=80);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.home-search-fld
{
	margin-top: -110px;
}
.search
{
	padding-top: 0px;
}
}