<div class="rslt-hd-md">
<div class="loginboxDesgn">
<form class="form-horizontal" id="LoginForm" name="LoginForm" ng-submit="userlogin()" >
	<span class="login-hdng-mt"><span style="font-size:20px; color:green" class="msg">Login</span></span><br><br>
	<div>
      <span style="display: none; color:red" class="error-msg">Please check your credentials</span>
      </div>
  <div>
      Username:&nbsp;&nbsp;&nbsp;<input type="text" id="username" ng-model="username" class="form-control" placeholder="Enter your username" auto-fill-sync/>
  </div><br><br>
  <div>
    Password:&nbsp;&nbsp;&nbsp;<input type="password" id="jobportal" ng-model="password" class="form-control" placeholder="Enter your password" auto-fill-sync/>
    </div><br>
<button type="submit" class= "btn btn-primary">Submit</button> 
</form>


</div></div>
