

<div class="rslt-hd-md">

<div style=" display: inline-block; min-height: 500px;  width: 61%;" class="fld-frm-cntnr">
<form class="simple-form" id="searchbid" name="searchbid" ng-submit="findbid()">
  <div>
  <span style="display: none; color:green" class="saved-msg">Data saved Successfully</span>
      </div><br>
  <div>
      <span style="display: none; color:red" class="empty-msg">Please fill any one of the fields.</span>
      </div>
      Job Url :<br> <input type="text"  ng-model="joburl" class="form-control input-small" placeholder="Enter a valid Job Url" />
      <!--   <span style="display: none; color:red" class="hist-error">Client History is required</span><br>
     Skills Required: <span style="color:red;">*</span>:
     <p><input type="text" name="skills" id="txtKeyWords"
      placeholder="Keywords"/></p> -->
    <input id="hdskillkey" type="hidden" name="hdskillkey" ng-model="hdskillkey"/>
      <button type="submit" class= "btn btn-primary search-icon"></button>
      <div> 
      <span style="display: none; color:red" class="invalid-msg">Enter a valid url</span>
      </div><br>

<span style="display: none;font-size:20px;color:red" class="already-msg">"oops! {{bidsinfo[0].BidderName}} is/has already {{bidsinfo[0].Status}} for this job".</span>
<span style="display: none;" class="new-msg ">"Good News! Nobody has seen this job Yet."
<a href="" ng-click="go()">Go For It</a>
</span>
</form>
<form id="check" class="form-styl-mt" style="display: none;">
 <fieldset>
  <legend style="padding-bottom:15px; margin-bottom:10px;">Apply for it:</legend>
  <div class="checkbox">
    <label for="is_invite">
      <input type="checkbox" id= "is_invite" ng-model="invite"> Is This an Invitation
    </label>
  </div>
  <button type="submit" ng-click="save()" class= "btn btn-primary apply-btn">Apply</button> <br><br>
 </fieldset>
</form>
<!--new form for lead when find bid using url-->
<form id="leadinf" style="display: none;">
<span class="msg-f-ur">"This is a lead.You can perform following operations"</span>
<div class="job-lead">
          <a class="job-lead-3" id="view-btn" ng-click="leadinfo($event)" href="javascript:void(0);" rel="tooltip" title="Lead info"></a>
          <a class="job-lead-2" id="delete-btn" ng-click="delete()" href="javascript:void(0);" rel="tooltip" title="Delete Lead"></a>
    
        
        </div>



</form>
<!--ends here-->
<form id="checkuser" style="display: none;">
  <span class="user-msg">
    
    <span class="msg-f-ur">"You have already applied for this job.What else would you like to do?"</span>
      
      
        <div class="job-lead">
          <a class="job-lead-3" id="view-btn" ng-click="viewbid()" href="javascript:void(0);" rel="tooltip" title="View Job"></a>
           <a class="job-lead-1 " id="change-btn" ng-click="change()"  href="javascript:void(0);" rel="tooltip" title={{s}}></a>
            <a class="job-lead-2" id="delete-btn" ng-click="delete()" href="javascript:void(0);" rel="tooltip" title="Delete Job"></a>
            <a class="job-lead-4" id="view-btn" ng-click="lead(1)" href="javascript:void(0);" rel="tooltip" title="Convert to Lead"></a>
    
        
        </div>
</span>
 <div class="appliedjob">
 
  <div style="display:inline;">
  <!--<button type="submit" id="change-btn" class= "btn btn-primary" value=""ng-click="change()">Change status to {{st}} ?</button>
    <button type="submit" id="delete-btn" class= "btn btn-primary" ng-click="delete()" >Delete Job</button>
      <button type="submit" id="view-btn" class= "btn btn-primary" ng-click="viewbid()" >View Job</button>
        <button type="submit" class= "btn btn-primary">Islead</button><br><br>-->
      <span style="display: none; color:#4C4C4B" class="status-msg">Status changed from {{fromstatus}} to {{st}}</span>
      <span style="display: none; color:green" class="delete-msg">Data Deleted Successfully</span>
      </div>
 </div>
</form>
<div class="bdr-dtl-fld" id = "bidinfo" ng-if = "info.bids.length == 1 " style="display:none;">
  Bidder Name: {{name}}<br>
  JobUrl:  {{bidsinfo[0].JobUrl}}<br>
  JobPortal:{{bidsinfo[0].JobPortal}}<br>
  JobId:{{bidsinfo[0].JobId}}<br>
  IsInvite:{{info.bids[0].Isinvite}}<br>
  Status:{{info.bids[0].Status}}<br>
 </div>

</div>
<div class="ryt-url inform-ytye">
 <span style="font-size:20px; color:green" class="msg">Latest Bids</span><br><br>
 
 <!-- Nav tabs -->
<ul class="nav rcnt-bdl nav-tabs">
 <li class="active"><a href="#recent" data-toggle="tab">Recent Bids</a></li>
  <li ><a href="#latest" data-toggle="tab">Recent Leads</a></li>
 
</ul>

<!-- Tab panes -->
<div class="tab-content scroller-tab">
 
 
   <div class="tab-pane " id="latest">

<!--Latestbids new added  Coming Soon-->
<span ng-show = "latestdata != ''" ng-repeat="bid in latestdata"  >
<span class = "bid-list" ng-show = "bid.bidtype != 'bid'">
  <span class="job-inft">
      <span title="{{bid.JobPortal}}" rel="tooltip" class = "{{bid.JobPortal}}" style="color:#000">{{bid.JobPortal}}</span>
      <span title="Lead Id" rel="tooltip" class = "jbid" style="color:#000">{{bid.Count}}</span>&nbsp;&nbsp;
       <span rel="tooltip" class = "date" style="color:#000">{{bid.Modifieddate}}</span>&nbsp;&nbsp;
       <span title="{{bid.JobUrl}}" rel="tooltip" class = "mjob-lnk" style="color:#000"><a href="{{bid.JobUrl}}" target="_blank">{{bid.JobUrl}}</a></span>

</span>
<span class="job-stts">
   <a class="dlt-jb" ng-click="delete($event)" id = "url_{{$index}}" href="javascript:void(0);" rel="tooltip" title="DeleteLead"></a>
       <a class="viewjob" ng-click="leadinfo($event)" id="lead_{{$index}}" data-cid = "{{bid.JobId}}" href="javascript:void(0);" rel="tooltip" title="Lead info"></a>

</span>
</span>
</span>
<!--Ends here-->
</div>
  <div class="tab-pane active " id="recent">
    <span ng-show = "allbids.bids != ''" ng-repeat="bid in allbids.bids" >
       <span class = "bid-list" ng-show = "bid.bidtype == 'bid'" >
   <!--<span style="font-size:16px; color:black">JobUrl:</span>-->
   <span class="job-inft">
      <span title="{{bid.JobPortal}}" rel="tooltip" class = "{{bid.JobPortal}}" style="color:#000">{{bid.JobPortal}}</span>
      <span title="{{bid.JobId}}" rel="tooltip" class = "url_{{$index}} url-job-mt" style="color:#000">{{bid.JobId}}</span>
      <span title="{{date}}" rel="tooltip" class = "url-pstd-dt" style="color:#000">{{bid.date}} </span>
        <span title="{{bid.JobUrl}}" rel="tooltip" class = "mjob-lnk" style="color:#000"><a href="{{bid.JobUrl}}" target="_blank">{{bid.JobUrl}}</a></span>
   </span>
   <span class="job-stts">
      <a class="lead-jb" ng-click="lead($event,1)" id = "url_{{$index}}" href="javascript:void(0);" rel="tooltip" title="Convert to Lead"></a>
      <a class="dlt-jb" ng-click="delete($event)" id = "url_{{$index}}" href="javascript:void(0);" rel="tooltip" title="DeleteJob"></a>
      <a class="inprgs {{bid.Status}}" ng-click="change($event)" data-toggle="tooltip" data-placement="top" rel="tooltip" title={{bid.Status}} id = "url_{{$index}}" href="javascript:void(0);"></a>
      <a class="viewjob" ng-click="viewbid($event)" id = "url_{{$index}}" href="javascript:void(0);" rel="tooltip" title="View Job"></a><br>
   <script>
  $("* [rel='tooltip']").tooltip({
     html: true, 
     placement: 'top'
  });
  
</script> 
   </span>

   <span class="bdr-dtl-fld" id = "info" ng-if = "info.bids.length == 1 " style="display:none;">

<div class="arrow-d">
</div>
  Bidder Name:{{name}}<br>
  JobUrl:  {{info.bids[0].JobUrl}}<br>
  JobPortal:{{info.bids[0].JobPortal}}<br>
  JobId:{{info.bids[0].JobId}}<br>
  IsInvite:{{info.bids[0].Isinvite}}<br>
  Status:{{info.bids[0].Status}}<br>
 </span> 
<br>
   </span>
 </span>
  </div>
  
  <div class="tab-pane" id="recent">...</div>
</div>

 


</div>
<br><br><br><br>
</div>

  <!-- Button to trigger modal -->
  <!-- Modal -->
 <div id="myModal" class="modal popup_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">


<div class="model-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="text" style="color:green;"><font size="3">Welcome to This section. Go ahead with the lead information form</font></h3>

<h3 id="text" style="color:green;"><font size="3">JobPortal: {{port}}<font></h3>
<h3 id="lead" style="color:green;"><font size="3">Lead Id: {{leadId}}<font></h3>
<h3 id="mdate" style="color:green;"><font size="3">Dated : {{mdate}}<font></h3>
<h3 id="url"><a href="{{jurl}}" target="_blank"><font size="3">{{jurl}}</font></a></h3>
</div>
<div class="clearfix"></div><br/>
<form>
 <div class="row">
   <div class="col-lg-4">
    <fieldset>
     <legend>Job</legend>
       Job Title <span style="color:red;">*</span>:<input type="text" ng-model="title" id="title" class="form-control"/>
    <span style="display: none; color:red" class="title-error">Job Title is required</span><br>
    Application URL <span style="color:red;">*</span>:<input type="text" ng-model="appurl" id="appurl" class="form-control"/>
    <span style="display: none; color:red" class="app-error">Application url is required</span><br>
    <span style="display: none; color:red" class="valid-error">Enter a valid application url</span><br>
    Message Url: <input type="text" ng-model="msgurl" id="msgurl" class="form-control"/>
    <span style="display: none; color:red" class="msg-error">Message url is not valid</span><br>
    No. of Interviews <span style="color:red;">*</span>:<input type="Number" ng-model="interviews"  id="interview" class="form-control"/>
    <span style="display: none; color:red" class="int-error">Number of interviews is required</span><br>
    Bid Amount <span style="color:red;">*</span>:<input type="Number" ng-model="bidamount"  id="bidamount" class="form-control"/>
    <span style="display: none; color:red" class="bid-error">Bid Amount is required</span><br>
</fieldset>
   </div>

   <div class="col-lg-4">
     <fieldset>
     <legend>Client</legend>
    Client Name <span style="color:red;">*</span>:<input type="text" ng-model="cname" id="cname" class="form-control"/>
    <span style="display: none; color:red" class="name-error">Client Name can't be set empty</span><br>
    Client Email:<input type="text" ng-model="cemail" id="cemail" class="form-control"/>
    <span style="display: none; color:red" class="em-error">Email is not valid</span><br>
    Client Budget <span style="color:red;">*</span>:<input type="Number" ng-model="budget" id="budget" class="form-control"/>
    <span style="display: none; color:red" class="budget-error">Enter the client budget</span><br>
    Client Skype:<input type="text" ng-model="skype" id="skype" class="form-control"/><br>
    Client History: <span style="color:red;">*</span>:
          <textarea type="text" ng-model="hist" class="form-control" >
          </textarea>
  
  </fieldset>
   </div>

   <div class="col-lg-4">
     <fieldset>
     <legend>Lead</legend>
      Lead Type <span style="color:red;">*</span>:<!--input type="text" ng-model="leadtype" id="leadtype" class="form-control"/--><select class="form-control" ng-model="leadtype" ><option value="hour">Hourly</option>
  <option value="fix">Fixed</option></select><br>
    <span style="display: none; color:red" class="lead-error">Enter lead type</span><br>
   
    Current Status of lead <span style="color:red;">*</span>:
          <textarea type="text" ng-model="stat" class="form-control" >
          </textarea>
    <span style="display: none; color:red" class="stat-error">Current Status is mandatory</span><br>
    <input type="hidden" name="hid" ng-model="hid" value="{{hid}}">
    <input type="hidden" id= "hidbtn" name="hidbtn" ng-model="hidbtn" value="{{hidbtn}}">
   </fieldset>
   </div>
   
    <div class="clearfix"></div>
    
    
    <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
    <button  type="submit" id= "savebtn" ng-click="leadsave()" class="btn btn-primary">Save </button>
    <button type="submit"  id= "editbtn"  ng-click="editleads($event)" class="btn btn-primary">Save Changes</button>
    
  </div><form-->

</div>
</div>
</div>
</div> 